main/pipeline/Pipeline_Carga_FactVentas.json
{
	"name": "Pipeline_Carga_FactVentas",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Procesos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [modulo]\r\n      ,[fecha_desde_procesada]\r\n      ,[fecha_hasta_procesada]\r\n      ,[fecha_inicio_ejecucion]\r\n      ,[fecha_fin_ejecucion]\r\n      ,[estado]\r\n  FROM [dbo].[DW_Procesos] WHERE modulo = 'Ventas' AND estado = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_Procesos",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Proceso",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Procesos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Procesos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariable_ProcesoActual",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "idProceso_Actual",
								"value": "string(@item().id_proceso)"
							}
						},
						{
							"name": "SP_ActualizaEstado_Iniciado",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_Actualiza_Estado_Proceso]",
								"storedProcedureParameters": {
									"estado": {
										"value": "1",
										"type": "Int32"
									},
									"modulo": {
										"value": "@item().modulo",
										"type": "String"
									},
									"Proceso_ID": {
										"value": "@item().id_proceso",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"idProceso_Actual": {
				"type": "String"
			}
		},
		"annotations": []
	}
}