main/pipeline/Pipeline_Carga_FactVentas.json
{
	"name": "Pipeline_Carga_FactVentas",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Procesos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [modulo]\r\n      ,[fecha_desde_procesada]\r\n      ,[fecha_hasta_procesada]\r\n      ,[fecha_inicio_ejecucion]\r\n      ,[fecha_fin_ejecucion]\r\n      ,[estado]\r\n  FROM [dbo].[DW_Procesos] WHERE modulo = 'Ventas' AND estado = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_Procesos",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Proceso",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Procesos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Procesos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVariable_ProcesoActual",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "idProceso_Actual",
								"value": "string(@item().id_proceso)"
							}
						},
						{
							"name": "SP_ActualizaEstado_Iniciado",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SetVariable_ProcesoActual",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_Actualiza_Estado_Proceso]",
								"storedProcedureParameters": {
									"estado": {
										"value": "1",
										"type": "Int32"
									},
									"modulo": {
										"value": "@item().modulo",
										"type": "String"
									},
									"Proceso_ID": {
										"value": "@item().id_proceso",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CopyData_STG_Ventas",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_ActualizaEstado_Iniciado",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "cod_tiempo",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "cod_tiempo",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "cod_vendedor",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "cod_vendedor",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "cod_cliente",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "cod_cliente",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "cod_producto",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "cod_producto",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "cantidad",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "cantidad",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSql_Ventas",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_STG_Ventas",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "DataFlow_STG_FactVentasSTG",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyData_STG_Ventas",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DataFlow_STG_FactVentasSTG",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"idProceso_Actual": {
				"type": "String"
			}
		},
		"annotations": []
	}
}